@import "tailwindcss";
@theme {
    --color-purple-300: #e1e4ff;
    --color-purple-500: #6e28c2;
    --color-purple-600: #7000e5;


    --color-gray-100: #eeeeef;
    --color-gray-200: #e6e9ed;
    --color-gray-600: #95989c;
}